html, body{
  margin: 0;
  padding-left: 0;
  background-color: White; 
font-family: "Courier New",monospace, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #7b7b7a;
  font-size: 12px;
  line-height: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height:100%;
}
/* Menu styles
===========================*/
.mobile-menu-button{
		background: url('../images/menu-icon1.png') no-repeat;
		height:30px;
		width:30px;
		margin-top:3px;
		margin-left:3px;
		cursor: pointer;
		z-index:1;
}

.navside {
height: 100%;
float:left;  
position: fixed; 
z-index:1;
overflow-x: hidden;
width: 200px;
}

.nav{
  top: 0;
  padding: 0 0 0 15px;
  padding-left: 1em;
}

.nav>li{
	 width: 100%;
	 margin-bottom:2px;
	 list-style:none;
     cursor: pointer;
	 font-size: 100%;
	 line-height: 1; 
	font-size: 1.2em; 	 
     }
	 
	 		submenu-nav>li{
			font-size: 1em;
		}
		
		
     
.nav .clicked a, .nav .root .clicked {
		color: grey;
     }

.nav a:hover, .nav .root-name:hover{
  color: DarkGray ;
}

.nav a{
	text-decoration:none;
    color:black;
}

.nav .root{
	text-decoration:none;
    color:black;
}


.submenu-nav{
	padding: 0 0 0 10%;
	width:100%;
}

.hidden {display:none;}

.submenu-nav>li{
	margin-bottom:5px;
	line-height: 1; 
}

/* Container styles
===========================*/
.hidden_content {
	display:none; 
}

.c{
	height: 90%;
	z-index:0;
}

.container {
	position:relative;
	margin: 0 auto; 
	width:80%;
	height: 100%;
	text-align: center;
}

h1 { 
margin-top: 20px;
text-align:center;
 color:#262626;
 font-weight: 100;
 text-decoration: underline;
 }

.container .image{
    width: 645px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
	margin-bottom: 0;
    display: block;
	border:none;
}

.container .description{
	margin-left: auto;
    margin-right: auto;
	font-size:90%;
    margin-top: 0;
}
.container .location{
	margin-left: auto;
    margin-right: auto;
	font-size:90%;
    margin-top: 0;
}

.container iframe{
	 margin-left: auto;
     margin-right: auto;
	 margin-top: 40px;
	 width: 650px;
	height: 420px;
	 
}

.container p {
	width : 750px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	text-align: justify;
	font-size:120%;
	color: #262626;
}

.container  .firstImage{
	width: 50%;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto; 
    height: auto;
}

.mezeraImage{
	margin-top:30px !important;
	margin-bottom:30px !important;
}

audio{
	margin-top:20px;
	margin-bottom:20px;
}

/* Gallery styles
===========================*/
.gallery{
	padding-top:1%;
	  line-height: 15px;
}

.gallery a{
	display: inline-block;
}

.myClose{
	top: 0;
	right: -4px;
	height: 20px;
    width: 20px;
	background: url('imgs/closeCross.jpg') no-repeat;
	}
	