

html, body{
  margin: 0;
  padding-left: 0;
  background-color: White; 
font-family: "Source Code Pro", "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #7b7b7a;
  font-size: 12px;
  line-height: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height:100%;
}

/* Menu styles
===========================*/
.mobile-menu-button{
		background: url('../images/menu-icon1.png') no-repeat;
		height:30px;
		width:30px;
		margin-top:3px;
		margin-left:3px;
		cursor: pointer;
		z-index:1;
}

.navside {
height: 100%;
float:left;  
position: fixed; 
z-index:1;
overflow-x: hidden;
}

.nav{
  top: 0;
  padding: 0 0 0 15px;
}

.nav li{
	 width: 100%;
	 margin-bottom:2px;
	 list-style:none;
     cursor: pointer;
	 font-size: 100%;
	 line-height: 1;     
     }
     
.nav .clicked a, .nav .root .clicked {
		color: grey;
     }

.nav a:hover, .nav .root-name:hover{
  color: DarkGray ;
}

.nav a{
	text-decoration:none;
    color:black;
}

.nav .root{
	text-decoration:none;
    color:black;
}

.submenu-nav{
	padding: 0 0 0 10%;
	width:100%;
}

.hidden {display:none;}

.submenu-nav>li{
	margin-bottom:5px;
	line-height: 1; 
}

/* Container styles
===========================*/

.hidden_content {
	display:none; 
}

.c{
	z-index:0;
}

.container {
	position:relative;
	margin: 0 auto; 
	width:750px;
	text-align: center;
}

.welcomePage{
	position:relative;
	margin: 0 auto; 
	width:750px;
	height: 90%;
	text-align: center;
}


h1  { 
margin-top: 20px;
text-align:center;
 color:#424242;
 font-weight: 500;
 text-decoration: underline;
 }
 
 h2  { 
margin-top: 20px;
text-align:center;
 color:#424242;
 font-weight: 500;
 text-decoration: underline;
 }

.container .image{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
	margin-bottom: 5px;
    display: block;
}

.container .location{

    margin-bottom: 30px;

}

.lazy {
	display: block;
}

 .description{
	margin-left: auto;
    margin-right: auto;
	font-size:90%;
	color:grey;
	
}
.container .location{
	margin-left: auto;
    margin-right: auto;
	font-size:90%;
    margin-top: 0;
}

.container iframe{
	 margin-left: auto;
     margin-right: auto;
	 margin-top: 40px;
}

.container p {
	width : 700px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	text-align: justify;
	font-size:120%;
	color: #262626;
}

.firstImage{
max-height: 100%;
max-width: 100%;
width: auto;
height: auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

.fancybox{
		text-decoration: none;
}

.mezeraImage{
	margin-bottom:30px !important;
}

audio{
	margin-top:20px;
	margin-bottom:20px;
}

/* Gallery styles
===========================*/
.gallery{
	padding-top:1%;
	  line-height: 15px;
}

.gallery a{
	display: inline-block;
}

.myClose{
	top: 0;
	right: -4px;
	height: 20px;
    width: 20px;
	background: url('imgs/closeCross.jpg') no-repeat;
}



@media only screen and (min-width: 0) and (max-width:730px)
{
		
		.container 
		{ 
			width:95%;
		}
		
		.welcomePage{
			width:95%;
		}
		
	    .container p
		{ 
			font-size: 90%;
			width:100%;
		}
		
		.container .image{
			width:100%;
		}
		
		.container iframe{
			width: 100%;	
			max-height: 250px;
		}
		
		.container h1 {
			line-height: 120%;
		}

		.nav li {
			font-size: 1.3em;
		}
		
		.navside {
			background-color:rgba(255, 255, 255, 0.96);
			width: 100%;
			height: 90%;			
			/*border:3px black solid;*/
		}
		
		.c{
			margin-left: 0;
		}
		
		 .firstImage{
			width: 100%;
			margin-top: 15%; 
		}
}

@media only screen and (min-width: 730px) and (max-width:950px)
{
	
	   .container p
		{ 
			font-size: 100%;
			width:500px;
		}
		
		.container .image{
			width: 95%;
		}
		
		.container iframe{
			width: 619px;
		height: 348px;
		}
		
		.container h1 {
			line-height: 120%;
		}

		.nav li {
			font-size: 100%; 
		}
		.navside {
			width: 250px; 
			}
		.c{
			margin-left: 150px;
		}
		
		 .firstImage{
			width: 500px;
			margin-top: 5%; 
		}
}



@media only screen and (min-width: 950px) and (max-width: 1400px)
{
		.firstImage{
			width: 600px;
			margin-top: 5%; 
		}
		
		.container p
		{ 
			font-size: 110%;
			width:660px;
		}
		
		.container .image{
			width: 645px;
		}
		
		.container iframe{
			width: 645px;
			height: 363px;
		}

		.nav>li {
			font-size: 1.2em; 
		}
		
		submenu-nav>li{
			font-size: 1em;
		}
		
		.nav{
			padding-left: 1em;
		}
		
		.navside {		
			width: 200px; 
			}
			
		.c{
			margin-left: 150px;
		}
}

		
@media only screen and (min-width: 1400px){
		
		 .firstImage{
			width: 900px;
			margin-top: 20%;
			
		}

		.container p
		{ 
			width:750px;
			font-size: 120%;
		}
		
		.container .image{
			width: 645px;
		}
		
		.container iframe{
			width: 645px;
		}

		.nav>li {
			font-size: 1.2em; 
		}
		
		submenu-nav>li{
			font-size: 1em;
		}
		
		.nav{
			padding-left: 1em;
		}
		
		.navside {
			width: 200px;
		}
			
		.c{	
			padding-right: 5%;
			margin-left: 150px;
		}
		
	
}
